* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(1, 75, 75);
    font-family: "IBM Plex Serif", sans-serif;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.63);
}
h1 {
    color: rgb(255, 255, 255);
    width: 20%;
    font-family: "IBM Plex Serif", sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.63);
}
h2 {
    color: rgb(255, 255, 255);
    font-family: "IBM Plex Serif", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.63);
}

.sign-in {
    margin-top: -3rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in input {
    width: 20%;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

.sign-in button {
    background:rgba(6, 39, 19, 0.63);
    color: white;
    width: 20%;
    text-transform: uppercase;
    font-size: 1.4rem;
    
}
.container-fluid {
    padding: 1rem;
}

.submit-btn {
    background-color: rgba(1, 49, 53, 0.5);
    width: 100%;
    margin-top: 3rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    box-shadow: 0.2rem 0.3rem 0.4rem rgba(47, 158, 121, 0.3);
    transition: all 1s ease-in-out;
    border: none;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.63);
}

p {
    font-size: 1rem;
}

.btn:hover {
    background-color: rgb(71, 128, 124);
    color: white;
}

.text-pantone-hidden {
    display: none;
}

.plate-option, .cased-options { 
    display: none;
}

.headings {
    border-radius: 0.25rem;
    background: rgba(1, 49, 53, 0.5);
    box-shadow: -0.1rem 0.1rem 0.2rem rgba(47, 158, 121, 0.3);

}

.results-heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
}

.results-heading::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
    width: 100%;
    z-index: 100;
    border-right: 0.1rem solid white;
}

.results-heading:nth-of-type(9) {
    margin-left: 1.3rem;
}

.results-heading:last-of-type::after, .results-heading:nth-of-type(9)::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
    width: 100%;
    z-index: 100;
    border-right: none;
}


.results-heading p {
    font-size: 1.2rem;
}

.results {
    background:rgb(71, 128, 124);
    border-radius: 0.25rem;
}

.results div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.results p {
    font-size: 1rem;
}

.results div p {
    text-align: left;
}

.added-info {
    border-radius: 0.25rem;
    background:rgba(1, 49, 53, 0.5)
}
.added-info p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.additional-options label {
    font-size: 1.2rem;
}
.additional-options-btn {
    background: rgb(6, 77, 59);
    color: white;
    font-size: 0.5rem;
    margin-top: 0.5rem;
    margin-left: -1rem;
}

.hidden {
    visibility: hidden;
}

.no-display {
    height: 0;
    visibility: hidden;
}

.n-a {
    color: rgb(187, 185, 185);
    opacity: 0.3;
}

.password-protected {
    display: none;
}

.Toner-PPCadjust, .GreyBoardadjust, .Text-16ppadjust, .Text-32ppadjust, .Text-8ppadjust, .Greyboardadjust, .Text-Lithoadjust, .Oddment-16adjust, .Oddment-8adjust, .Text-Digitaladjust, .Text-IXadjust, .Text-Plateadjust {
    display: none;
}

